.button {
  padding: 8px 30px;
  color: #fff;
  font-family: Acrom-Medium;
  font-size: 14px;
  line-height: 14px;
  margin: 6px 10px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  &_blue {
    background-color: #22a8e1;
    &:hover {
      background-color: #269abc;
    }
    &-disabled {
      background-color: #5bbbe4;
      cursor: not-allowed;
      &:hover {
        background-color: #5bbbe4 !important;
      }
    }
  }
  &_green {
    background-color: #00ab6b;
    &:hover {
      background-color: #398439;
    }
    &-disabled {
      background-color: #a2d5a2;
      cursor: not-allowed;
      &:hover {
        background-color: #a2d5a2 !important;
      }
    }
  }
  &_white {
    color: #979797;
    border: 1px solid;
    border-color: #979797;
    background-color: #fff;
    padding: 7px 30px;
    &:hover {
      background-color: #eee;
    }
    &-disabled {
      background-color: #d0d0d0 !important;
      color: #979797;
      cursor: not-allowed !important;
      &:hover {
        color: #979797;
        background-color: #d0d0d0 !important;
      }
    }

  }
  &_red {
    background-color: #e06a6a;
    &:hover {
      background-color: #ac2925;
    }
    &-disabled {
      background-color: #e89797;
      cursor: not-allowed;
      &:hover {
        background-color: #e89797 !important;
      }
    }
  }
}