.simpleDemo td[dnd-list],
.simpleDemo td[dnd-list] > div {
  position: relative;
}

.simpleDemo td[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

.simpleDemo td[dnd-list] .dndDraggingSource {
  display: none;
}

.simpleDemo td[dnd-list] .dndPlaceholder {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: -1px;
  width:50px;
  height: 50px;
  margin: 5px;
  float: left;

}

.simpleDemo td[dnd-list] div {
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: -1px;
  width:50px;
  height: 50px;
  margin: 5px;
  float: left;
  word-break: break-all;
}


.userStory {
  background-color: #8A2BE2;
  color: #FFFFFF;
}
.defect {
  background-color: #F0E68C;
  color: #000000;
}
.task {
  background-color: #87CEEB;
  color: #000000;
}
.feature {
  background-color: #CD5C5C;
  color: #FFFFFF;
}

.icon-close {
  position: absolute;
  top:0;
  right: 0;
    &:hover {
      color: red;
      cursor: pointer;
    }
}