
.form {
    &-input {
      width: 100%;
      background-color: #fff;
      box-sizing: border-box;
      padding: 8px 16px;
      outline: none;
      border: 2px solid #e6e6e6;
      margin: 4px 0;
      color: #6e777e;
      &_table {
        border: none;
        border-bottom: 1px solid #979797;
        background: none;
      }
      &:focus {
          border-color: #22a8e1;
        }
      }
}

input[placeholder] {
  font-famaly: Acrom-light;
  font-size: 12px;
}
input {
  font-family: Acrom-light;
  font-size: 12px;
  box-sizing: border-box;
}


