.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin 0.5s !important;
  animation: ngdialog-flyin 0.5s !important;
  background: none !important;
  border-radius: 0 !important;
  color: rgba(0,0,0,0) !important;
  font-size: 0 !important;
  line-height: 0 !important;
  margin: 0 auto !important;
  max-width: 100% !important;
  padding: 0 !important;
  position: relative !important;
  width: 0 !important;
}
