.popup {
//  &-result {
////    display: none;
//    width: 60%;
//    z-index: 1000;
//    position: fixed;
//    top: 10%;
//    left: 0;
//    right:0;
//    margin: auto;
//    background-color: #fff;
//    height: auto;
//    overflow-y: auto;
//    -webkit-overflow-scrolling: touch;
//      .wrapper {
//          margin-left: 0 !important;
//          margin-right: 0 !important;
//      }
//      .kimarea {
//          text-align: justify;
//      }
//  }
//  &-formuls {
////    display: none;
//    width: 80%;
//    z-index: 1000;
//    position: fixed;
//    top: 5%;
//    left: 0;
//    right:0;
//    margin: auto;
//    background-color: #fff;
//    height: auto;
//    overflow-y: auto;
//    -webkit-overflow-scrolling: touch;
//      .wrapper {
//          margin-left: 0 !important;
//          margin-right: 0 !important;
//      }
//      &_small {
//        width: 40%;
//        z-index: 1000;
//        position: fixed;
//        top: 15%;
//        left: 0;
//        right:0;
//        margin: auto;
//        background-color: #fff;
//        height: auto;
//          .wrapper {
//              margin-left: 0 !important;
//              margin-right: 0 !important;
//          }
//      }
//  }
  &-form {
//    display: none;
    width: 40%;
    height: auto;
    z-index: 1000;
    position: fixed;
    top: 5%;
    left: 0;
    right:0;
    margin: auto;
    background-color: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
      .wrapper {
          margin-left: 0 !important;
          margin-right: 0 !important;
      }
  }
  &-background {
//    display: none;
    z-index: 999;
    background:#000;
    opacity:0.5;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    &-close {
      float: right;
    }
  }
  &-title__text_popup {
    padding: 20px;
    background-color: #faf9f7;
    color: #979797;

  }
  &-topic {
    margin: 10px 0 10px 0;
    text-align: left;
    &__task {
      margin: 10px 0 10px 10px;
    }
  }
  &-search {
    padding: 10px 15px;
    background-color: #979797;
    position: fixed;
    right: 0;
    bottom: 50%;
    display: none;
    opacity: 0.5;
  }
}

//.table {
//  &-box-popup {
//    margin: 10px 10px 30px 30px;
//    text-align: left;
//      &>li {
//        line-height: 18px;
//        margin-top: 10px;
//        margin-bottom: 10px;
//      }
//  }
//  &-line-popup {
//    font-family: Acrom-Medium;
//    color: #888888;
//    line-height: 20px;
//    background-color: #fff;
//    border-top: 1px solid;
//    border-left: 1px solid;
//    border-right: 1px solid;
//    border-color: #dbdbdb;
//    text-align: center;
//    & > td {
//      vertical-align: middle;
//      padding: 10px;
//    }
//  }
//}

@media (max-width: 1195px) {
  .popup-search {
    display: inline-block;
  }
  .search_hide {
    display: none;
  }
}
@media (max-width: 900px) {
  .popup {
    &-result {
      width: 90%;
      height: auto;
      top: 5%;
    }
    &-formuls {
      width: 90%;
      height: auto;
      top: 5%;
    }
    &-form {
      width: 90%;
      height: auto;
      top: 5%;

    }
  }
  .box-Authorization {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 640px) {
    .popup {
        &-search {
            bottom: 0;
        }
    }
}
@media (max-width: 450px) {
  .popup {
    &-result {
      width: 100%;
      height: 100%;
      top: 0;
    }
    &-formuls {
      width: 100%;
      top: 0;
      height: 100%;
    }
    &-form {
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  .box-Authorization {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
.open-popup {
  cursor: pointer;
}

.wrapper_popup {
    max-height: 480px;
    overflow: auto;
    margin-top: 0 !important;
    /*padding-top: 20px;*/
}
.form-title-text {
  color: #373a3c;
  font-size: 14px;
}

.box-form_popup {
  margin: 0 !important;
  padding: 10px;
}

.image-modal__item {
    max-width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
