.box-table {
  width: 80%;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  &__line {
    font-family: Acrom-Medium;
    color: #888888;
    vertical-align: top;
    line-height: 20px;
    background-color: #fff;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #dbdbdb;
    box-sizing: border-box;
      &_clear {
        border: none !important;
          & > th {
            padding: 0 10px 10px 10px;
          }
      }
  }
  &__cell {
    padding: 10px;
    margin: 0 5% 0 5%;
    min-width: 100px;
    width: 10%;
    border-right: 2px solid #dbdbdb;
    min-height: 500px;
      &:last-child {
        border: none;
      }
  }
}


@media (max-width: 900px) {
  .box-table {
    overflow: auto;
  }
}

