.h1 {
  //font-family: Acrom;
  font-size: 36px;
  margin: 10px 0;
}
.h2 {
  //font-family: Acrom;
  font-size: 32px;
  margin: 10px 0;
}
.h3 {
  //font-family: Acrom;
  font-size: 26px;
  margin: 10px 0;
    &_green {
      color: #00ab6b;
    }
}
.h4 {
  //font-family: Acrom;
  font-size: 20px;
  margin: 10px 0;
  &_light {
    //font-family: Acrom-Light;
  }
}
.h5 {
  //font-family: Acrom;
  font-size: 15px;
  margin: 10px 0;
}