.page {
  &-body {
    background-color: #fafafa;
    margin: 0;
    color: #888;
  }
  &-content {
    margin-top: 60px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addTask {
  width: 15%;
}

@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  .addTask {
    width: 30%;
  }
}