<div class="wrapper">
    <div class="box-table">
        <table class="table">
        <thead>
            <tr class="table__line table__line_clear">
                <td class="table__cell">to do</td>
                <td class="table__cell">plan</td>
                <td class="table__cell">develop</td>
                <td class="table__cell">test</td>
                <td class="table__cell">deploy</td>
                <td class="table__cell">done</td>
            </tr>
        </thead>
        <tbody>
            <tr class="simpleDemo table__line">
                <td class="table__cell" dnd-list="vm.models.lists.toDo">
                    <div class="dnd-block" ng-repeat="item in vm.models.lists.toDo"
                        dnd-draggable="item"
                        dnd-moved="vm.models.lists.toDo.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="vm.models.selected = item"
                        ng-class="{'userStory': item.radio === 'userStory',
                                   'defect'   : item.radio === 'defect',
                                   'task'     : item.radio === 'task',
                                   'feature'  : item.radio === 'feature'}">
                        {{item.label}}
                        <span ng-click="vm.remove(item, vm.models.lists.toDo)" class="icon-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </td>
                <td class="table__cell" dnd-list="vm.models.lists.plan">
                    <div class="dnd-block" ng-repeat="item in vm.models.lists.plan"
                        dnd-draggable="item"
                        dnd-moved="vm.models.lists.plan.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="vm.models.selected = item"
                         ng-class="{'userStory': item.radio === 'userStory',
                                    'defect'   : item.radio === 'defect',
                                    'task'     : item.radio === 'task',
                                    'feature'  : item.radio === 'feature'}">
                        {{item.label}}
                        <span ng-click="vm.remove(item, vm.models.lists.plan)" class="icon-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </td>
                <td class="table__cell" dnd-list="vm.models.lists.develop">
                    <div class="dnd-block" ng-repeat="item in vm.models.lists.develop"
                         dnd-draggable="item"
                         dnd-moved="vm.models.lists.develop.splice($index, 1)"
                         dnd-effect-allowed="move"
                         dnd-selected="vm.models.selected = item"
                         ng-class="{'userStory': item.radio === 'userStory',
                                    'defect'   : item.radio === 'defect',
                                    'task'     : item.radio === 'task',
                                    'feature'  : item.radio === 'feature'}">
                        {{item.label}}
                        <span ng-click="vm.remove(item, vm.models.lists.develop)" class="icon-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </td>
                <td class="table__cell" dnd-list="vm.models.lists.test">
                    <div class="dnd-block" ng-repeat="item in vm.models.lists.test"
                         dnd-draggable="item"
                         dnd-moved="vm.models.lists.test.splice($index, 1)"
                         dnd-effect-allowed="move"
                         dnd-selected="vm.models.selected = item"
                         ng-class="{'userStory': item.radio === 'userStory',
                                    'defect'   : item.radio === 'defect',
                                    'task'     : item.radio === 'task',
                                    'feature'  : item.radio === 'feature'}">
                        {{item.label}}
                        <span ng-click="vm.remove(item, vm.models.lists.test)" class="icon-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </td>
                <td class="table__cell" dnd-list="vm.models.lists.deploy">
                    <div class="dnd-block" ng-repeat="item in vm.models.lists.deploy"
                         dnd-draggable="item"
                         dnd-moved="vm.models.lists.deploy.splice($index, 1)"
                         dnd-effect-allowed="move"
                         dnd-selected="vm.models.selected = item"
                         ng-class="{'userStory': item.radio === 'userStory',
                                    'defect'   : item.radio === 'defect',
                                    'task'     : item.radio === 'task',
                                    'feature'  : item.radio === 'feature'}">
                        {{item.label}}
                        <span ng-click="vm.remove(item, vm.models.lists.deploy)" class="icon-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </td>
                <td class="table__cell" dnd-list="vm.models.lists.done">
                    <div class="dnd-block" ng-repeat="item in vm.models.lists.done"
                         dnd-draggable="item"
                         dnd-moved="vm.models.lists.done.splice($index, 1)"
                         dnd-effect-allowed="move"
                         dnd-selected="vm.models.selected = item"
                         ng-class="{'userStory': item.radio === 'userStory',
                                    'defect'   : item.radio === 'defect',
                                    'task'     : item.radio === 'task',
                                    'feature'  : item.radio === 'feature'}">
                        {{item.label}}
                        <span ng-click="vm.remove(item, vm.models.lists.done)" class="icon-close">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="addTask">
        <input type="text" ng-model="vm.task.text" maxlength="15" class="form-input">
        <input type="radio" name="taskRadio" ng-model="vm.task.radio" value="userStory">user story <br>
        <input type="radio" name="taskRadio" ng-model="vm.task.radio" value="defect">defect <br>
        <input type="radio" name="taskRadio" ng-model="vm.task.radio" value="task" checked>task <br>
        <input type="radio" name="taskRadio" ng-model="vm.task.radio" value="feature">feature <br>
        <button class="button button_green" ng-click="vm.postTask(vm.task)">save</button>
    </div>
</div>